# Data Science Tools and Ecosystem

Some of the popular langauge that Data Scientists use are :
|S.no |Language for Data Science |
|-----| ------------------------|
|1    |  Python                |
| 2   |  R                     |
| 3    | SQL                   |

Some of the commonly used libraries used by Data Scientist include:
|S.no | Libraries | 
| ---|-----------|
|1 |  mathplotlib |
|2 | Numpy    |
|3  | Pandas   |

Data Science tools : 
|Apache Spark|
|----------|
|Apache hadoop|
|Tensorflow |
|Python |
|Scokit - learn |

In [32]:
## This a simple arithmetic expression to multiply then add integers :
(3*4) +5

17

###Below are a few examples of evaluating arithmetic  expressions in Python :
2 +2

In [ ]:
#This will convert 200 minutes to hours by diving by 60:
  $\frac{200}{60}

**Objectives** :
#List popular languages for Data Science
Python , R , SQL

## Author
Utkarsh tiwari

# In this notebook, Data Science Tools and Ecosystem are summarized.